nctasks_gtk/
nctasks_gtk_old/
Code - OSS/
systemd/user/multi-user.target.wants/
.vscode/
abiword/
clangd/
scdl/
scribus/
warp-terminal/user_preferences.json
assets/
feishin/
nctasks/
configstore/update-notifier-npm.json
hypr/hyprland.conf-bak
hypr/wallpaper
MusicBrainz/
systemd/user/git-maintenance@.service
systemd/user/git-maintenance@daily.timer
systemd/user/git-maintenance@hourly.timer
systemd/user/git-maintenance@weekly.timer
systemd/user/pipewire-session-manager.service
systemd/user/pipewire.service.wants
weylus/
tool_state
wayvnc/
Hardcode-Tray/
Hardcoded Software/
Provision/
Yubico/
go/
gpick/
ibus/
omp/zen.toml.bak
kdeconnect/
nordvpn/
rclone/
remmina/
sublime-music/
systemd/user/rclone-nextcloud.service
tint2/
Cursor/
freeplane/
gtk-4.0/
gtkrc
gtkrc-2.0
libaccounts-glib/
nvtop/
solvespace/
fluent-reader/
pulse/
hypr/scripts/wallpaper.sh.bak
marktext/
waybar/scripts/sonixd.sh
sublime-text-2/
Electron/
Logseq/
Sonixd/
easytag/
electron-mail/
nvim.b/
systemd/user/secret-service.service
Nextcloud/
appimagelauncher.cfg
autostart/
FreeCAD/
unity3d/
ardour8/
borg/
protonvpn/
/btop
/cava
/dconf
/gh
/nvim.bak
/vlc
/GIMP
/gtk-2.0
/inkscape
/libvirt
/coc
/gtk-3.0
/nicotine
/neofetch
/nvim
/QtProject
/spicetify
/mpv
/spotify
/sublime-text
/systemd/user/default.target.wants
/systemd/user/timers.target.wants
systemd/user/sockets.target.wants
/Thunar
/xfce4
/nwg-look
/xsettingsd
/yay
/Standard\ Notes
/ranger
/qalculate
/qt5ct
/qt6ct
/obsidian
/VirtualBox
/xournalpp
/hypr/scripts/defaultwp
/hypr/hyprpaper.conf
QtProject.conf
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
vifm
libreoffice
