[general]
default_module = "web" # The module to run when no prefix is matched;
empty_module = "app" # The module to run with an empty prompt
exec_cmd = "hyprctl dispatch exec" # The exec command of your window manager; change it to "hyprctl dispatch exec" if you use hyprland
show_suggestion = true # Fuzzy search for prefixes; autocompletion with TAB


[interface]
# ASCII color codes are allowed with these options. However, \x1b[ should be replaced with \u001B[ (unicode escape) because the rust toml crate cannot read \x as an escaped character...
header_cmd = "" # Run a shell command and make the stdout printed above the header
header_cmd_trimmed_lines = 0 # Remove a number of lines from header_cmd output, in case of some programs printing excessive empty lines at the end of its output
header = ""
prompt_prefix = "\n  \u001B[34mî©­ \u001B[0m \u001B[34m->\u001B[0m"
list_prefix = "  \u001B[34m>>\u001B[0m"
highlighted_prefix = "  \u001B[34m#>\u001B[0m"
scroll_up_prefix = "  \u001B[34m#!\u001B[0m"
scroll_down_prefix = "  \u001B[34m#!\u001B[0m"
help_message = ""
place_holder = "type and search..."
suggestion_lines = 10


# Modules are defined as followed
[[modules]]
description = "ask to ChatGPT"
prefix = "\u001B[32mg\u001B[0m"
cmd = "firefox --class WebApp-ChatGPT2409 --name WebApp-ChatGPT2409 --profile /home/mike/.local/share/ice/firefox/ChatGPT2409 --no-remote 'https://chatgpt.com/?model=gpt-5&q={}'"
with_argument = true
url_encode = false

[[modules]]
description = "launch apps from the system"
prefix = "\u001B[32mapp\u001B[0m"
cmd = "wofi --location=center --height=300 --width=1000 --columns=3 --allow-images --prompt='Run Applications' -n -i -s ~/.config/wofi/wofi.css --show=drun"
with_argument = true
url_encode = false

[[modules]]
description = "launch commands from the system"
prefix = "\u001B[32mcmd\u001B[0m"
cmd = "kitty --hold -e bash -c '{}'"
with_argument = true
url_encode = false

[[modules]]
description = "search for arch packages"
prefix = "\u001B[32mpac\u001B[0m"
cmd = "xdg-open https://archlinux.org/packages/?q='{}'"
with_argument = true 
url_encode = true 

[[modules]]
description = "search archwiki"
prefix = "\u001B[32maw\u001B[0m"
cmd = "xdg-open https://wiki.archlinux.org/index.php?search='{}'; hyprctl dispatch workspace 2"
with_argument = true
url_encode = true

[[modules]]
description = "search the web"
prefix = "\u001B[32mweb\u001B[0m"
cmd = "xdg-open https://duckduckgo.com/?q={}; hyprctl dispatch workspace 2"
with_argument = true
url_encode = true

[[modules]]
description = "search youtube"
prefix = "\u001B[32myt\u001B[0m"
cmd = "xdg-open https://www.youtube.com/results?search_query='{}'; hyprctl dispatch workspace 2"
with_argument = true
url_encode = true

[[modules]]
description = "cambridge dictionary online"
prefix = "\u001B[32mdc\u001B[0m"
cmd = "xdg-open 'https://dictionary.cambridge.org/dictionary/english/{}'; hyprctl dispatch workspace 2"
with_argument = true
url_encode = true

[[modules]]
description = "open files with fzf"
prefix = "\u001B[32mff\u001B[0m"
cmd = "kitty --class=otter-ff -e bash -c 'fd --type f | fzf -0 -1 --padding 1,3 -q \"{}\" | xargs setsid -f xdg-open'"
with_argument = true
url_encode = false

