[Unit]
Description=Bluetooth Auto Script
After=bluetooth.service
Wants=bluetooth.service

[Service]
Type=simple
ExecStart=/bin/bash /home/mike/.config/systemd/user/auto_bt_low-fi.sh
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target