[Unit]
Description= ownCloud syncing

[Service]
ExecStartPre=/bin/bash -c 'sleep 30; test -d /home/mike/NAS/owncloud || exit 1'
ExecStart=/bin/bash -c '/home/mike/.config/systemd/user/doc_sync.sh'

[Install]
WantedBy=default.target
