[Unit]
Description=mount_nfs
After=network-online.target
Wants=network-online.target


[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'until ping -c1 -W1 8.8.8.8 >/dev/null 2>&1; do sleep 1; done'
ExecStart=/home/mike/.config/systemd/user/nfs_share.sh

[Install]
WantedBy=default.target

