@define-color base           #1E1E2E ;
@define-color blue_border    #2C9FB5 ;
@define-color primary_yellow #ffb347 ;
@define-color base_alt       #282f3e ;
@define-color primary_blue   #b6c0cd ;
/* 
*{
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 700;
}
 
window {
    border: 1px solid @primary_yellow;
    border-radius: 10px;
}
 
#input {
    margin-bottom: 15px;
    padding:3px;
    border: none;
    color: @primary_blue;
}
 
#outer-box {
    margin: 5px;
    padding: 10px;
    background-color: @base;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#text {
    padding: 5px;
    color: @primary_blue;
}
 
 
#entry:nth-child(even) {
    background-color: @base;
}
 
#entry:selected {
    background-color: @base_alt;
} */



* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 700;
}

#window {
    background-color: @base;
    color: @primary_blue;
    border: 1px solid @primary_yellow;
    border-radius: 20px;
}

#outer-box {
    padding: 20px;
}

#input {
    background-color: @base_alt;
    border: 0px solid @blue_border;
    padding: 8px 12px;
}

#scroll {
    margin-top: 20px;
}

#img {
    padding-right: 8px;
    padding-left: 12px;
}

#text {
    color: @primary_blue;
}

#text:selected {
    color: @base;
}

#entry {
    padding: 6px;
}

#entry:selected {
    background-color: @blue_border;
    color: @base;
}

#input,
#entry:selected {
    border-radius: 4px;
}
